<nav>
  <ul class="header__list">
    <li><a href="{{ site.baseurl }}">Stories</a> (<a href="http://kinlane.com/atom.xml">RSS</a>)</li>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/experiences/">Experiences</a></li>
    <li><a href="{{ site.baseurl }}/images/">Images</a></li>
    <li><a href="{{ site.baseurl }}/videos/">Videos</a></li>
    <li><a href="{{ site.baseurl }}/archives/">Archives</a></li>
    <li><a href="http://alternate.kinlane.com/">Alternate</a></li>
    <li><a href="http://algorithmic.rotoscope.work/">Algorotoscope</a></li>
  </ul>
</nav>
