---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">

  {% include header.html %}

  <main>

    <div style="border: 1px solid #8F1F07; background-color: #F36040; text-align: center: font-color: #FFF;">
      <center><a href="/owen-rubel/" style="color: #FFF;">Concerned about Owen Rubel? Click Here to Learn More!</a></center>
    </div>

    {{ content }}

  </main>

  {% include footer.html %}

</body>
</html>
